*{
	margin: 0;
	padding: 0;
}
@font-face {
    font-family: San Francisco Text;
		src: url("source/SanFranciscoText-Regular.otf") format("opentype");
		src: url("source/SanFranciscoText-Heavy.otf") format("opentype");
		src: url("source/SanFranciscoText-Light.otf") format("opentype");
		src: url("source/SanFranciscoText-Semibold.otf") format("opentype");
}

body{
	font-family: San Francisco Text;
}

p{
	margin-top: 4rem;
	font-size: 1rem;
}

button{
	margin-top: 4rem;
}

h1{
	font-weight: bolder;
	margin-top: 13rem;
	font-size: 3rem;
}

button{
	border-radius: 100px;
	outline: none;
}

.center{
	text-align: center;
}

.flexRow{
	display: flex;
	display: -wekit- flex;
	flex-direction: row;
	flex-direction: -webkit- row;
	justify-content:	center;
}

.flexRow p{
	margin-top: 7rem;
	margin-right: 3rem;
	opacity: 0.3;
}


.flexCol{
	display: flex;
	display: -wekit- flex;
	flex-direction: column;
	flex-direction: -webkit- column;

	margin-top: 7rem;
	margin-left: 3rem;
}

.flex{
	display: flex;
	display: -wekit- flex;
	flex-direction: row;
	flex-direction: -webkit- row;
	justify-content:	center;
}
#first{
	background-color: #E2E5E9;
	width: 600px;
	height: 800px;
}

#second{
	background-color: #B5BEC9;
	width: 600px;
	height: 800px;
}

#third{
	background-color: #7897B2;
	width: 600px;
	height: 800px;
}

.box{
	margin-top: 4rem;
	margin-left: 5rem;
	width: 340px;
	height: 195px;
	border: 10px solid #000000;
	border-radius: 10px;
	background: white;

}

#addWord{
	margin-top: 1rem;
}

#listening{
	margin-top: 9rem;
	margin-left: 3rem;
}
